<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>{{ site.title }}: {% if page.title %}{{ page.title }}{% endif %} —— 提供简单、强大的网页信息提取服务</title>
  <link rel="stylesheet" href="/assets/css/default.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
  <link rel="stylesheet" href="/assets/css/home.css" type="text/css"/>
  <!-- GA -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84535934-2', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>
{{ content }}

<!-- baidu tongji -->
<style type="text/css">
  a[href="http://tongji.baidu.com/hm-web/welcome/ico?s=4f7a60a53518cfb2c2bd73e668a1b756"]{display:none;}
</style>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F4f7a60a53518cfb2c2bd73e668a1b756' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>
